<h1>Instances Management</h1>

<table>
  <thead>
    <th>Instance ID</th>
    <th>Kernel ID</th>
    <th>Launch Time</th>
    <th>Instance Type</th>
    <th>Image ID</th>
    <th>DNS Name</th>
    <th>Action</th>
  </thead>
  <% for instance in @instances %>
    <tr>
      <td><%= instance['instanceId'] %></td>
      <td><%= instance['kernelId'] %></td>
      <td><%= instance['launchTime'] %></td>
      <td><%= instance['instanceType'] %></td>
      <td><%= instance['imageId'] %></td>
      <td><%= instance['dnsName'] %></td>
      <td><%= link_to 'Terminate Instance', "/instances/#{instance['instanceId']}", :class => 'delete' %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Instance', resource(:instances, :new) %>
